/** {
  font-family: Arial;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #fcbd7d;
  padding: 0 50px 20px 20px;
  border: 2px solid #FF6F61;
}

h1 { color: rgb(22, 202, 219); 
    font-size: 2.5rem; 
    font-weight: bold; 
    text-align: center;
     margin-bottom: 20px; }

h2 {
  color: #333333;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 15px;
}


p {
  font-size: 18px;
  font-style: italic;
  color: rgb(0, 1, 0);
}
html {
  background-color: #FFD700;
}*/
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1E1E1E;
    margin: 0px;
}

h1 {
    font-size: 70px;
    background-color: #FFF000;
    padding: 15px;
}

h2 {
    font-size: 38px;
    background-color: #FFCC00;
    padding: 10px;
}
  
p {
    font-size: 18pt;
    padding: 15px;
}

body {
    background-color: #EBEBEB;
}

